Repository GoogleCloudPlatform/terraform-dynamic-javascript-webapp, pull requests merged in 2023-07, with the labels that each got.

#61 feat: enable integration tests
  build/int.cloudbuild.yaml
  build/lint.cloudbuild.yaml
  infra/examples/simple_example/README.md
  infra/examples/simple_example/main.tf
  infra/examples/simple_example/outputs.tf
  infra/examples/simple_example/variables.tf
  infra/examples/simple_example/versions.tf
  infra/main.tf
  infra/test/setup/iam.tf
  infra/test/setup/main.tf
Labels: component: infra, type: feature request, component: build

#45 testing: Use low-reputation billing account
  build/int.cloudbuild.yaml
  infra/test/setup/main.tf
Labels: component: infra, component: build

#64 feat: define verify for int tests
  build/int.cloudbuild.yaml
  infra/examples/simple_example/README.md
  infra/examples/simple_example/outputs.tf
  infra/metadata.display.yaml
  infra/metadata.yaml
  infra/test/integration/simple_example/simple_example_test.go
Labels: component: infra, type: feature request, component: build

#65 fix: remove db dependency on LB time delay
  infra/main.tf
Labels: component: infra, type: bug

#68 fix: correct fileset() globbing when this module is not the root.
  infra/main.tf
Labels: component: infra, type: bug

#66 refactor: add `init_firestore` toggle
  infra/README.md
  infra/main.tf
  infra/metadata.display.yaml
  infra/metadata.yaml
  infra/variables.tf
Labels: component: infra

#67 feat(testing): add verification tests for this blueprint
  infra/test/integration/simple_example/simple_example_test.go
Labels: component: infra, type: feature request

#69 fix: pinning google provider < 4.75.0
  infra/versions.tf
Labels: component: infra, type: bug

#70 feat: call firestore check endpoint in verify test
  infra/test/integration/simple_example/simple_example_test.go
Labels: component: infra
