Repository GoogleCloudPlatform/terraform-dynamic-javascript-webapp, pull requests merged in 2023-06, with the labels that each got.

#46 fix: neos toc url
  infra/outputs.tf
Labels: component: infra, type: bug

#47 fix: add delay to iam service account resource
  infra/main.tf
Labels: component: infra, type: bug

#50 fix: update neos toc url
  infra/outputs.tf
Labels: component: infra, type: bug

#53 chore: cleanup whitespace and add newlines
  .gitignore
  CODE_OF_CONDUCT.md
  app/README.md
  infra/main.tf
Labels: ignore-for-release, component: infra, component: app

#51 fix: enable uniform bucket level access
  infra/main.tf
Labels: component: infra, type: bug

#52 chore: Add 15 sec delay after secret resource creation
  infra/apis.tf
  infra/main.tf
Labels: ignore-for-release, component: infra

#56 chore: Add 15 sec delay after secret resource creation
  infra/apis.tf
  infra/main.tf
Labels: ignore-for-release, component: infra
