Repository GoogleCloudPlatform/terraform-dynamic-javascript-webapp, pull requests merged in 2024-01, with the labels that each got.

#93 chore: update to dev-tools v1.18
  build/int.cloudbuild.yaml
  infra/Makefile
Labels: ignore-for-release, component: infra, component: build

#92 fix: remove duplicate renovate config
  renovate.json
Labels: type: bug

#101 fix: Update actions/labeler config to v5
  .github/labeler.yml
Labels: type: bug

#98 chore: update simple_example versions.tf
  infra/examples/simple_example/versions.tf
Labels: ignore-for-release, component: infra

#102 feat: update Google provider to v5, fix deprecations
  infra/main.tf
  infra/versions.tf
Labels: component: infra, type: feature request
